.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;
}

.order > h2{
  font-weight: 350;
  margin-left: 20px;
}

.order__date{
  padding: 10px;
  margin-left: 15px;

}
.order__id {
    position: absolute;
    top: 40px;
    right: 20px;
  }

.order__total {
    font-weight: 500;
    text-align: right;
  }
  