.payment {
    background-color: white;
}

.payment__container > h1 {
    text-align: center;
    padding: 15px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
    background-color: #fff;
  }

.payment__container > h1 a {
    text-decoration: none;
}

.payment__container > h3{
    margin-top: 20px;
}

.payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title {
    
    flex: 0.2;
}

.payment__address{
    margin-top: -2px;
    margin-left: 40px;
}
.payment__address, .payment__items, .payment__details {
    flex: 0.8;
}
.payment__details{
    margin-left: 30px;
}


.payment__details > form {
    max-width: 400px;
}

.payment__details > h3 {
    padding-bottom: 30px;
  }

  .payment__details>form>div>button{
    background-color: #CFB385;
      border: 2px solid #000;
      letter-spacing: 1.5px;
      font-size: 11px;
      padding: 15px;
      text-align: center;
      line-height: 1;
      color: black;
      padding: 12px 30px;
      margin: 10px 0px;
      cursor: pointer;
      text-transform: uppercase;
  }
 

  .link{
      color:#000;
  }

  .link:hover{
    color:#CFB385;
}

.payment__details>form>div>button:hover{
    cursor: pointer;
      background-color: black;
      color:#CFB385;
  }

.payment__items{
    margin-left: 20px;
    margin-top: -13px;
}